{{ define "metaTitle" }}
<title>{{ .Title }} ∴ Logs.Now Status</title>
<meta name="description" content="A status about what I’m busy on lately">
{{ end }}

{{ define "metaSocial" }}
  <!-- Open Graph -->
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Title }} ∴ Logs.Now Status">
  <meta property="og:description" content="A status about what I’m busy on lately">
  <meta property="og:image" content="{{ "/img/favicons/android-chrome-512x512.png" | absURL }}">
  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">
{{ end }}

{{ define "styles" }}
  {{ $tobiCSS := resources.Get "css/tobi.min.css" }}
  {{ $tobiCSSsecure := $tobiCSS | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $tobiCSS.Permalink }}" integrity="{{ $tobiCSSsecure.Data.Integrity }}">
{{ end }}

{{ define "scripts" }}
  {{ $tobyJS := resources.Get "/js/tobi.min.js" }}
  {{ $changelogGallery := resources.Get "js/changelog-gallery.js" }}
  {{ $changelogGalleryConcat := slice $tobyJS $changelogGallery | resources.Concat "js/changelog-gallery-bundle.js" }}
  {{ $changelogGallerySecure := $changelogGalleryConcat | resources.Fingerprint "sha512" }}
  <script src="{{ $changelogGalleryConcat.Permalink }}" integrity="{{ $changelogGallerySecure.Data.Integrity }}"></script>
{{ end }}

{{ define "main" }}
  <div class="container container--medium">
    <div class="content-head txtcenter">
        {{ if eq .Params.show_title true }}
        <h1 class="content-title">{{ .Title }}</h1>
        {{ else }}
        <div>A status about what I’m busy on lately</div>
        <h1 class="visually-hidden">{{ .Title }}</h1>
        {{ end }}
    </div>

    <div class="changelog">
      <div class="container container--medium">
        <div class="changelog-post">
          <div class="changelog-post__head">{{ .Date.Format "January 02, 2006" }}</div>
          <div class="changelog-post__box">
            <div class="changelog-post__content">
              {{ .Content }}
            </div>
            {{ if (isset .Params "images" ) }}
              <div class="changelog-post__gallery">
                <div class="grid grid-changelog-gallery">
                <!-- gallery items -->
                {{ $page := . }}
                {{ range .Params.images }}
                  {{ $original := $page.Resources.GetMatch . }}
                  {{ $originalPermalink := $original.Permalink }}
                  {{ $thumb := $original.Fill "117x117 center" }}
                  {{ $thumb2x := $original.Fill "234x234 center" }}
                  <a class="changelog-post__galleryItem" data-changelog-gallery data-group="0" href="{{ $original.Permalink }}">
                    <img
                    class="changelog-post__galleryImg"
                    width="142"
                    height="142"
                    src="{{ $thumb.Permalink }}"
                    srcset="{{ $thumb.Permalink }} 1x, {{ $thumb2x.Permalink }} 2x"
                    alt=""
                    loading="lazy"
                    >
                  </a>
                {{ end }}
                </div>
              </div>
            {{ end }}
          </div>
        </div>
        <div class="txtcenter">
          <a class="btn btn--primary" href="/logs">
            <img class="vmiddle" src="/img/ico-arrow-left.svg" alt="">
            <span class="vmiddle">Back to logs list</span>
          </a>
        </div>
      </div>
    </div>

  </div>
{{ end }}
