<section class="contact" id="contact">
  <h2 class="contact__title">Wanna say <span class="color-primary">hi</span>?</h2>
  <a class="btn btn--primary btn--big" href="mailto:contact@tixie.name?body=Hiiii">contact@tixie.name</a>
  <div class="mt1 txtsmall">PGP key: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/92F42A3A7005E73496A8715B65AE328A797F435D" target="_blank">0x65AE328A797F435D</a></div>

  <div class="contact__send">
    <div class="contact__sendText">Or send me a message on:</div>
    <a class="contact__sendItem" href="https://guerilla.studio/@tixie" target="_blank"
      aria-label="Mastodon" rel="noopener me">
      <img class="contactSendIcon" src="/img/ico-mastodon.svg" alt="" aria-hidden="true"/>
      Mastodon
    </a>
    <a class="contact__sendItem" href="https://signal.me/#eu/7FLxqN43lF5bR0zeaXlf88viNJg3pp--SH-dsDd-M_CAnbksQnZKFZwi8dsk5xMW" target="_blank"
      aria-label="Signal" rel="noopener">
      <img class="contactSendIcon" src="/img/ico-signal.svg" alt="" aria-hidden="true"/>
      Signal
    </a>
    <a class="contact__sendItem" href="https://telegram.me/TixieSalander" target="_blank"
      aria-label="Telegram" rel="noopener">
      <img class="contactSendIcon" src="/img/ico-telegram.svg" alt="" aria-hidden="true"/>
      Telegram
    </a>
    <a class="contact__sendItem" href="https://i.delta.chat/#354A33329F2ACA9FF8529DAD537D2DCC48454503&a=0e7wj59jm%40nine.testrun.org&n=Tixie&i=h--WmHYXE-yU_GslgCw9XM2h&s=Js5HGymZMplxcUvDGgkbCY5L" target="_blank"
      aria-label="Delta Chat" rel="noopener">
      <img class="contactSendIcon" src="/img/ico-deltachat.svg" alt="" aria-hidden="true"/>
      Delta Chat
    </a>
  </div>
</section>
