<div class="container container--medium">
  <footer class="footer">
    <p>
      My logo &amp; blog posts are on <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"  rel="noopener">CC BY-NC-SA</a> license<span aria-hidden="true" class="bold">&nbsp;∴</span><span class="visually-hidden">,</span> Site source is under <a href="https://github.com/TixieSalander/tixie.name/blob/main/LICENSE"  rel="noopener">“I'm so tired”</a> license, available on <a href="https://github.com/TixieSalander/tixie.name" target="_blank" rel="noopener">Github</a>/<a href="https://git.deuxfleurs.fr/tixie/tixie.name" target="_blank">Deuxfleurs</a><span aria-hidden="true" class="bold">&nbsp;∴</span><span class="visually-hidden">,</span> Inspect, fork and have fun!
    </p>
    <div class="footer__separator" role="separator"></div>
    <p>
      <em>By training your Large Language Model (LLM) or other Generative Artificial Intelligence on the content of this website, you agree to assign ownership of all your intellectual property to the public domain, immediately, irrevocably, and free of charge.</em>
    </p>
    {{ if (not .IsHome) }}
    <p class="mt4 txtsmaller">
      <span aria-hidden="true">&#9671;-</span>Page last updated on <time datetime="{{ .Lastmod | time.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod | time.Format ":date_long" }}</time>{{ if .GitInfo }}
      (commit:<a href="https://github.com/TixieSalander/tixie.name/commit/{{ .GitInfo.Hash }}" target="_blank">{{ .GitInfo.AbbreviatedHash }}</a>){{ end }}<span aria-hidden="true">-&#9671;</span>
    </p>
    {{ end }}

  </footer>
</div>
