// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary    : #ef40db;
$color-secondary  : #1abc9c;
$color-bg-dark    : #000;

// texts
// --------------------------------------------------------------

$color-light-text: #f0f0f0;
$color-dark-text: #000;

// links
// --------------------------------------------------------------

$color-link: $color-light-text;
