/* ----------------------------------------------------------- */
/* == rwd */
/* ----------------------------------------------------------- */


@media (max-width: $base-container) {

  .container {
    padding: 0 2rem;
  }

  .bg-lines {
    max-width: calc(100% - 4rem);
    background: none;
    background-image: repeating-linear-gradient(-90deg, #000 0%, #000 calc(100% / 2 - 2px), #0e0e0e calc(100% / 2));
    border-left: .1rem solid #0e0e0e;
  }
}
