/* ----------------------------------------------------------- */
/* == rwd -> xsmall */
/* ----------------------------------------------------------- */

@media (max-width: $xsmall) {
  /* navigation
  -------------------------------------------------------------- */

  .navigation__listItem {
    width: auto;
  }

  .navigation__link:link,
  .navigation__link:visited {
    padding: 2rem 0;
  }

  /* header
  -------------------------------------------------------------- */

  .header {
    padding-bottom: 0;
  }

  /* changelog page
  -------------------------------------------------------------- */

  .changelog {
    margin-right: -2rem;
    margin-bottom: 6rem;
    margin-left: -2rem;
  }

  .changelog-post__box {
    padding: 3rem 1.5rem;
  }

  .changelog-post__content {
    font-size: 1.3rem;
    line-height: 1.6em;
  }

  .changelog-post__content p {
    margin-bottom: 1.6em;
  }
}
