/* ----------------------------------------------------------- */
/* == main */
/* ----------------------------------------------------------- */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: $color-light-text;
  font-family: $fontstack1;
  background-color: $color-bg-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: $base-container;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.container--medium {
  max-width: 66.8rem;
}

/* titles
-------------------------------------------------------------- */

h1 {
  @include flow(50);
}

h2 {
  @include flow(24);
}

h3 {
  @include flow(18);
}

h4 {
  @include flow(16);
}


/* links
-------------------------------------------------------------- */

a {
  color: $color-link;
}

a:hover,
a:visited,
a:focus {
  color: lighten($color-link, 10%);
}

/* lists
-------------------------------------------------------------- */

ul {
  padding-left: 2rem;
  list-style-type: circle;
}

/* divers
-------------------------------------------------------------- */

hr {
  display: block;
  height: .1rem;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: .1rem solid #ccc;
}
