/* ----------------------------------------------------------- */
/* == Layout */
/* ----------------------------------------------------------- */

.bg-lines {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: -1;
  width: $base-container;
  height: 100vh;
  background-image: repeating-linear-gradient(-90deg, #000 0%, #000 calc(100% / 6 - 2px), #1b1b1b calc(100% / 6));
  background-repeat: no-repeat;
  border-right: .1rem solid #1b1b1b;
  transform: translateX(-50%);
  animation: .8s bg-lines-animation ease-out;
}

@keyframes bg-lines-animation {

  from {
    transform: translateX(-50%) translate3d(0, -110%, 0);
  }

  to {
    transform: translateX(-50%) translate3d(0, 0, 0);
  }
}
