/* ----------------------------------------------------------- */
/* == content */
/* ----------------------------------------------------------- */

.content-head {
  margin-bottom: 12rem;
}

.content-title {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 5.5rem;
  font-family: $fontstack2;
  line-height: 6.5rem;
}
