/* ----------------------------------------------------------- */
/* == content */
/* ----------------------------------------------------------- */

.content-head {
  margin-bottom: 5rem;
}

.content-title {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 4.5rem;
  font-family: $fontstack2;
  line-height: 1.18em;
}
