/* ----------------------------------------------------------- */
/* == footer */
/* ----------------------------------------------------------- */

.footer {
  position: relative;
  padding: 2rem 0 6rem;
  font-size: 1.4rem;
  text-align: center;
}

.footer::before {
  position: absolute;
  top: 0;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: .1rem;
  background-color: $color-primary;
  content: '';
}

.footer__separator {
  text-align: center;
  margin-block: 2rem;
}

.footer__separator::before {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: $color-secondary;
  border: .1rem solid $color-primary;
  box-shadow: inset 0 0 0 .33rem #000;
  transform: rotate(45deg);
  transition: none;
  content: '';
}

img.footer__icon {
  width: 2rem;
}

.footer a:is(:hover,:active,:focus) {
  text-decoration-color: $color-primary;
}
