/* ----------------------------------------------------------- */
/* == Now page */
/* ----------------------------------------------------------- */

.now {
  margin-bottom: 11rem;
}

/* Post
-------------------------------------------------------------- */

.now-post {
  position: relative;
}

@supports (clip-path: fill-box) {
  .now-post::before {
    position: absolute;
    top: 2.8rem;
    left: .2rem;
    width: 1rem;
    height: 1rem;
    border: .1rem solid $color-primary;
    background: $color-secondary;
    box-shadow: inset 0 0 0 .3rem #000;
    content: "";
    transition: none;
    transform: rotate(45deg);
  }
}

.now-post__head {
  position: relative;
  overflow: hidden;
  padding-left: 2.5rem;
  height: 30px;
  color: #c7c7c7;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 30px;
}

@supports (clip-path: fill-box) {
  .now-post__head {
    padding-left: 5rem;
  }
}

.now-post__head::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 3rem;
  background: url("/img/now-postline.svg") no-repeat;
  background-position: top right;
  background-size: 3.2rem 3rem;
  content: "";
}

@supports (clip-path: fill-box) {
  .now-post__head::before {
    left: 1rem;
    width: 3.2rem;
  }
}

.now-post__head a {
  color: #c7c7c7;
  text-decoration: none;
}

.now-post__head a:hover,
.now-post__head a:active,
.now-post__head a:focus {
  text-decoration: underline;
}

.now-post__box {
  margin-bottom: 5rem;
  padding: 4rem 5rem 5rem;
  background-color: #202020;
  color: #c2c3c6;

  clip-path: polygon(2.4rem 0, 100% 0, 100% 100%, 0 100%, 0 2.4rem);
}

.now-post__content {
  font-size: 1.4rem;
  line-height: 1.7em;
}

.now-post__content p {
  margin-bottom: 1.9em;
}

.now-post__content h2 {
  @include flow(20);
}

.now-post__content p:last-child {
  margin-bottom: 0;
}

.now-post__content img:not([src$=".png"]) {
  background-color: rgba(#fff, .3);
}

.now-post__content li {
  list-style-type: "• ";
}

.now-post__content code {
  padding: .3rem .5rem;
  border-radius: .3rem;
  background-color: rgba(239, 240, 244, .15);
  font-size: 85%;
}

.now-post__content pre {
  overflow-x: auto;
  padding: 1rem;
}

.now-post__content pre code {
  padding: 0;
  border-radius: .3rem;
  background: none;
  font-size: inherit;
}

/* Gallery
-------------------------------------------------------------- */

.now-post__gallery {
  margin-top: 3rem;
}

.now-post__galleryItem:link,
.now-post__galleryItem:visited {
  position: relative;
}

.now-post__galleryItem::before,
.now-post__galleryItem::after {
  position: absolute;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: transform .15s;
}

.now-post__galleryItem::before {
  bottom: 0;
  left: 0;
  border-bottom: .1rem solid $color-primary;
  border-left: .1rem solid $color-primary;
}

.now-post__galleryItem:hover::before,
.now-post__galleryItem:active::before,
.now-post__galleryItem:focus::before {
  transform: translate(-.2rem, .2rem);
}

.now-post__galleryItem::after {
  top: 0;
  right: 0;
  border-top: .1rem solid $color-primary;
  border-right: .1rem solid $color-primary;
}

.now-post__galleryItem:hover::after,
.now-post__galleryItem:active::after,
.now-post__galleryItem:focus::after {
  transform: translate(.2rem, -.2rem);
}

.now-post__galleryImg {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

/* Pagination
-------------------------------------------------------------- */

.now-pagination {
  text-align: center;
}
