<div class="container container--medium">
  <footer class="footer">
    <div class="mb1">
      My logo &amp; blog posts are on <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"  rel="noopener">CC BY-NC-SA</a> license<span aria-hidden="true" class="bold">&nbsp;∴</span><span class="visually-hidden">,</span> Site source is under <a href="https://github.com/TixieSalander/tixie.name/blob/main/LICENSE"  rel="noopener">“I'm so tired”</a> license, available on <a href="https://github.com/TixieSalander/tixie.name" target="_blank" rel="noopener">Github</a><span aria-hidden="true" class="bold">&nbsp;∴</span><span class="visually-hidden">,</span> Inspect, fork and have fun!
    </div>
    <a href="http://www.kopimi.com/kopimi/" target="_blank" rel="noopener"><img class="footer__icon" src="/img/kopimi-logo.svg" alt="Kopimi" /></a>
  </footer>
</div>
