<div class="bg-lines"></div>
<div class="header">
  <a class="header__logo" href="/">
    <img class="header__logoImg" src="/img/logo.svg" alt="T" />
  </a>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__listItem">
        <a class="navigation__link" href="{{ .Permalink }}#about" title="Scroll to my personal infos">Me</a>
      </li>
      <li class="navigation__listItem">
        <a class="navigation__link" href="{{ .Permalink }}#projects" title="Scroll to my projects">Projects</a>
      </li>
      <li class="navigation__listItem">
        <a class="navigation__link" href="{{ .Permalink }}#links" title="Scroll to my social links">Links</a>
      </li>
      <li class="navigation__listItem">
        <a class="navigation__link" href="{{ .Permalink }}#contact" title="Scroll to my contact infos">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<div class="lines-header">
  <div class="lines-header__item line w80"></div>
  <div class="lines-header__item line w100"></div>
  <div class="lines-header__item line w33"></div>
</div>
