{{ define "main" }}
<div class="container">
  <header class="home-head" id="about">
    <h1 class="home-head__title">Tixie</h1>
    <div class="home-head__about">Designer • CSS Architect • Internetz Citizen</div>
  </header>

  <section>
    <p>I’m a tired designer and front-end developer not living in the Silicon Valley.</p>
    <p>Currently working at L’Agence Webup as dayjob, when I have some time I also try to make some inclusive,
      accessible, and ethical stuff at Glitch.Family, my
      “two-women-one-cat-and-some-friends little studio” as I like to call it.</p>
  </section>

  <section id="projects">
    <div class="title-section">
      <h2 class="title-section__title" tabindex="0">Projects</h2>
      <div class="title-section__line line"></div>
    </div>

    <div class="folio">
      <a class="folio__item" href="https://radio.eldritch.cafe">
        <h3 class="folio__itemName">Eldritch Radio</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer (2020)</div>
        <p class="folio__itemAbout">A webradio powered by the publications made on the social platform Mastodon.</p>
      </a>
      <a class="folio__item" href="https://souvenir.cam">
        <h3 class="folio__itemName">Souvenir</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer (2019)</div>
        <p class="folio__itemAbout">A web app to capture few seconds of your webcam/camera and generate a gif.</p>
      </a>
      <a class="folio__item" href="https://vanillalist.top">
        <h3 class="folio__itemName">Vanilla List</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer, maintainer (2017 then 2021)</div>
        <p class="folio__itemAbout">A vanilla JavaScript plugins repository.</p>
      </a>
      <a class="folio__item" href="https://blog.collectif-perspectives.fr/">
        <h3 class="folio__itemName">Perspectives.design</h3>
        <div class="folio__itemJob">Co-founder, designer, developer, writer (2013-2018)</div>
        <p class="folio__itemAbout">A collective blog project for sharing our thoughts about design actuality.</p>
      </a>
      <a class="folio__item" href="http://crawfordgueneau.net/">
        <h3 class="folio__itemName">Crawford Guéneau</h3>
        <div class="folio__itemJob">Developer (2015)</div>
        <p class="folio__itemAbout">A simple portfolio for Louise Crawford and Stéphan Guéneau, two photographs working
          between Berlin and Paris.</p>
      </a>
      <div class="folio__item">
        <h3 class="folio__itemName">Cognitive Cryptography</h3>
        <div class="folio__itemJob">Co-founder, designer (2012)</div>
        <p class="folio__itemAbout">A non-profit organization who promotes network neutrality, respect for privacy and
          confidentiality through a VPN service.</p>
      </div>
    </div>
  </section>

  <section id="links">
    <div class="title-section">
      <h2 class="title-section__title" tabindex="0">Links</h2>
      <div class="title-section__line line"></div>
    </div>

    <div class="grid grid-2 grid-1-xs">
      <a class="blockList__item" href="https://github.com/TixieBorg">
        <h3 class="blockList__itemTitle">Github</h3>
        <p class="blockList__itemAbout">I do open sourcey things</p>
      </a>
      <a class="blockList__item" href="https://dribbble.com/tixie">
        <h3 class="blockList__itemTitle">Dribbble</h3>
        <p class="blockList__itemAbout">Where I post my work in progress design stuff</p>
      </a>
      <a class="blockList__item" href="https://music.glitch.family">
        <h3 class="blockList__itemTitle">Music</h3>
        <p class="blockList__itemAbout">My favorite music albums</p>
      </a>
      <a class="blockList__item" href="https://inspiration.glitch.family">
        <h3 class="blockList__itemTitle">Moodblog</h3>
        <p class="blockList__itemAbout">Unorganized patchwork from my graphic researches</p>
      </a>
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="contact__title">Want to say <span class="color-primary">hi</span>?</h2>
    <a class="btn btn--primary btn--big" href="mailto:admin@glitch.family?body=Hi">admin@glitch.family</a>

    <div class="contact__send">
      <div class="contact__sendText">Or send me a message on:</div>
      <a class="contact__sendItem" href="https://twitter.com/messages/compose?recipient_id=99528928" target="_blank"
        aria-label="Send me a message on Twitter" rel="noopener">
        <img class="contactSendIcon" src="/img/ico-twitter.svg" alt="Twitter Logo" />
        Twitter
      </a>
      <a class="contact__sendItem" href="https://telegram.me/TixieBorg" target="_blank"
        aria-label="Send me a message on Telegram" rel="noopener">
        <img class="contactSendIcon" src="/img/ico-telegram.svg" alt="Telegram Logo" />
        Telegram
      </a>
      <a class="contact__sendItem" href="https://glitch.social/@tixie" target="_blank"
        aria-label="Contact me on Mastodon" rel="noopener me">
        <img class="contactSendIcon" src="/img/ico-mastodon.svg" alt="Mastodon Logo" />
        Mastodon
      </a>
    </div>
  </section>
</div>
{{ end }}