{{ define "main" }}
<div class="container">
  <header class="home-head" id="about">
    <h1 class="home-head__title">Tixie</h1>
    <div class="home-head__about">
        CSS Architect
        <span aria-hidden="true">•</span><span class="visually-hidden">,</span>
        Designer
        <span aria-hidden="true">•</span><span class="visually-hidden">,</span>
        Pun(k)s</div>
  </header>

  <section>
    <p>I’m a <s>tired</s> senior web designer and front-end developer from <s>not the Silicon Valley</s> Europe.</p>
    <p>After working 7 years on diverse types of projects as main front-end web developer and accessibility advocate in a middle sized web engineering <a href="https://agence-webup.com">agency</a>, I'm now focusing full-time into my own smaller organization:</p>
    <p><a href="https://guerilla.studio" class="bold">Guérilla.Studio</a>'s goal <small class="italic">(or as I like to call it “two-women-one-cat-and-some-friends-in-a-trenchcoat” collective)</small> is to try making a web a little bit more <strong>inclusive</strong>, <strong>accessible</strong>, and <s>anti-capitalist</s> <strong>ethical</strong> by making &amp; maintaining independent software along with helping other organizations embracing those values one radical step at a time.</p>
  </section>

  <section id="projects">
    <div class="title-section">
      <h2 class="title-section__title">Side Projects</h2>
      <div class="title-section__line line"></div>
    </div>

    <div class="folio">
      <a class="folio__item" href="https://radio.eldritch.cafe">
        <h3 class="folio__itemName">Eldritch Radio</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer (2020)</div>
        <p class="folio__itemAbout">A webradio powered by the publications made on the social platform Mastodon.</p>
      </a>
      <a class="folio__item" href="https://souvenir.cam">
        <h3 class="folio__itemName">Souvenir</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer (2019)</div>
        <p class="folio__itemAbout">A web app to capture few seconds of your webcam/camera and generate a gif.</p>
      </a>
      <a class="folio__item" href="https://vanillalist.top">
        <h3 class="folio__itemName">Vanilla List</h3>
        <div class="folio__itemJob">Co-founder, designer, UI developer, maintainer (2017 then 2021)</div>
        <p class="folio__itemAbout">A vanilla JavaScript plugins repository.</p>
      </a>
      <a class="folio__item" href="https://blog.collectif-perspectives.fr">
        <h3 class="folio__itemName">Perspectives.design</h3>
        <div class="folio__itemJob">Co-founder, designer, developer, writer (2013-2018)</div>
        <p class="folio__itemAbout">A collective blog project for sharing our thoughts about design actuality.</p>
      </a>
      <a class="folio__item" href="http://crawfordgueneau.net">
        <h3 class="folio__itemName">Crawford Guéneau</h3>
        <div class="folio__itemJob">Developer (2015)</div>
        <p class="folio__itemAbout">A simple portfolio for Louise Crawford and Stéphan Guéneau, two photographs working between Berlin and Paris.</p>
      </a>
      <a class="folio__item" href="https://ccrypto.org">
        <h3 class="folio__itemName">Cognitive Cryptography</h3>
        <div class="folio__itemJob">Co-founder, designer (2012)</div>
        <p class="folio__itemAbout">A non-profit organization who promotes network neutrality, respect for privacy and confidentiality through a VPN service.</p>
      </a>
    </div>
  </section>

  <section id="links">
    <div class="title-section">
      <h2 class="title-section__title">Links</h2>
      <div class="title-section__line line"></div>
    </div>

    <div class="grid grid-2 grid-1-xs">
      <a class="blockList__item" href="https://github.com/TixieSalander">
        <h3 class="blockList__itemTitle">Github</h3>
        <p class="blockList__itemAbout">I do open sourcey things</p>
      </a>
      <a class="blockList__item" href="https://dribbble.com/tixie">
        <h3 class="blockList__itemTitle">Dribbble</h3>
        <p class="blockList__itemAbout">Where I post my work in progress design stuff</p>
      </a>
      <a class="blockList__item" href="https://music.guerilla.studio">
        <h3 class="blockList__itemTitle">Music</h3>
        <p class="blockList__itemAbout">My favorite music albums</p>
      </a>
      <a class="blockList__item" href="https://inspiration.guerilla.studio">
        <h3 class="blockList__itemTitle">Moodblog</h3>
        <p class="blockList__itemAbout">Unorganized patchwork from my graphic researches</p>
      </a>
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="contact__title">Wanna say <span class="color-primary">hi</span>?</h2>
    <a class="btn btn--primary btn--big" href="mailto:contact@tixie.name?body=Hi">contact@tixie.name</a>

    <div class="contact__send">
      <div class="contact__sendText">Or send me a message on:</div>
      <a class="contact__sendItem" href="https://guerilla.studio/@tixie" target="_blank"
        aria-label="Contact me on Mastodon" rel="noopener me">
        <img class="contactSendIcon" src="/img/ico-mastodon.svg" alt="Mastodon Logo" />
        Mastodon
      </a>
      <a class="contact__sendItem" href="https://signal.me/#eu/qGlr+dGbzAbCqNNnTyAw26QeMVj1cNnw5G2kDAhKMPY3nFyqHxpC3bVGHpUgkYUE" target="_blank"
        aria-label="Send me a message on Signal" rel="noopener">
        <img class="contactSendIcon" src="/img/ico-signal.svg" alt="Signal Logo" />
        Signal
      </a>
      <a class="contact__sendItem" href="https://telegram.me/TixieSalander" target="_blank"
        aria-label="Send me a message on Telegram" rel="noopener">
        <img class="contactSendIcon" src="/img/ico-telegram.svg" alt="Telegram Logo" />
        Telegram
      </a>
    </div>
  </section>
</div>
{{ end }}
