/* ----------------------------------------------------------- */
/* == Block list module */
/* ----------------------------------------------------------- */

.blockList__item,
.blockList__item:link,
.blockList__item:visited {
  text-decoration: none;
  outline-offset: 1rem;
}

.blockList__itemTitle {
  margin: 0;
  font-weight: bold;
  font-size: 2.4rem;
  text-decoration: underline;
}

.blockList__item:hover .blockList__itemTitle {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: .1rem;
  text-underline-offset: .15em;
  text-decoration-color: $color-primary;
}

.blockList__itemAbout {
  margin: 0;
  color: #d0d0d0;
  transition: all .2s;
}
