/* ----------------------------------------------------------- */
/* == Pagination module */
/* ----------------------------------------------------------- */

.pagination {
  display: inline-flex;
  margin-top: 1rem;
}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  padding: 1.3rem 2rem;
  color: $color-light-text;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgba($color-primary, .18);
  border: .1rem solid rgba($color-primary, .18);
}

.pagination-btn,
.pagination-btn:link,
.pagination-btn:visited {
  display: flex;
  align-items: center;
  padding: 1.3rem 1.7rem;
  color: $color-primary;
  text-decoration: none;
  background-color: rgba($color-primary, .07);
  border: .1rem solid rgba($color-primary, .18);
}

.pagination-btn:hover,
.pagination-btn:active,
.pagination-btn:focus {
  color: $color-light-text;
  background-color: rgba($color-primary, .36);
}

span.pagination-btn {
  opacity: .3;
}

.pagination-btn--left {
  border-right-color: transparent;
}

.pagination-btn--right {
  border-left-color: transparent;
}
