/* ----------------------------------------------------------- */
/* == Titles module */
/* ----------------------------------------------------------- */

/* Section module
-------------------------------------------------------------- */

.title-section {
  display: inline-block;
  width: auto;
  margin: 6rem 0;
  padding-bottom: 1rem;
}

.title-section__title {
  margin: 0;
  font-weight: 900;
  font-size: 7.5rem;
  font-family: $fontstack2;
  line-height: 1.1em;
  outline-offset: 2rem;
}

.line.title-section__line {
  position: absolute;
  left: 0;
  width: 50%;
  margin-top: -1.2rem;
  box-shadow: -.3rem 0 0 .3rem $color-bg-dark;
}
